# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Learning about DS languages
- Learning about DS libraries
- Learning about DS Tools

>Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. JavaScript
9. PHP

>Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

>Some of the commonly used Tools used by Data Scientists include:

|Data Science Tools|
|-------------------|
|Apache Spark|
|Tableau|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [19]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [39]:
time_in_minutes = 200
time_in_hours = time_in_minutes/60
print ("Time in Hours= ",time_in_hours)
# This will convert 200 minutes to hours by diving by 60

Time in Hours=  3.3333333333333335

## Author
Syeda Adiba Mirzana